:host {
  --card-border-radius: var(--bb-border-radius, 0.25rem);
  --card-border: none;
  --card-padding: 0rem;
  --card-margin: 0rem;
  --card-color: inherit;
  --card-hover-color: deepskyblue;

  --card-image-border-radius: var(--bb-border-radius, 0.25rem);
  --card-image-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);

  display: block;
  margin: var(--card-margin);
}

.link {
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  padding: var(--card-padding);
  color: var(--card-color);
}

.card .link {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.link:hover {}

.scale-hover:hover {
  transition: transform 0.5s;
  transform: scale(1.01);
}

.overlay-header {
  position: absolute;
  padding-top: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 10, 20, 0.25) 0%, rgba(0, 10, 20, 0) 100%);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.preview-image img {
  border-radius: var(--card-border-radius);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

.card .preview-image img {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.message {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: rgba(220, 50, 0, 0.85);
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: calc(var(--border-radius) / 1.5);

}
